.elementsWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#ErrorTitle {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 288px;
  text-align: center;

  color: #ff6060;
}

#ErrorText {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  text-align: center;

  color: #ff6060;
}

.LinkError {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  text-decoration: underline #ff6060;
  color: #ff6060;
}

@media screen and (max-width: 800px) {
  #ErrorTitle {
    font-size: 96px;
  }

  #ErrorText {
    font-size: 18px;
  }
}
