.cardHomeLink {
  margin-bottom: 20px;
  flex-basis: 33.333333%;
}

.CardHome {
  display: flex;
  position: relative;
  flex-direction: column-reverse;
  /* background: #ff6060; */
  border-radius: 10px;
  height: 340px;
  width: 340px;
  margin-top: 30px;
}

.CardTitle {
  position: absolute;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 0;
  color: #ffffff;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: linear-gradient(0deg, black, transparent);
}

.CardTitleText {
  padding: 5px;
  margin: 0;
}

.imgHome {
  object-fit: cover;
  height: 100%;
  border-radius: 10px;
}

@media screen and (max-width: 800px) {
  .cardHomeLink {
    width: 100%;
    margin-bottom: 0;
  }

  .CardHome {
    height: 255px;
    width: 100%;
  }
}
