.backgroundWrapper {
  background-color: #f6f6f6;
  border-radius: 10px;
}

.subTitleWrapper {
  background: #ff6060;
  border-radius: 5px;
  padding-left: 1em;
}

.subTitle {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 142.6%;
  display: flex;
  justify-content: space-between;

  color: #ffffff;
}

.text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142.6%;
  margin-left: 1em;
  margin-right: 1em;
  padding-bottom: 1em;

  color: #ff6060;
}

.arrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10px;
  transform: rotate(0deg);
  transition: 0.4s 0.4s ease-in-out;
}

.arrow_reverse {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10px;
  transform: rotate(180deg);
  transition: 0.4s ease-in-out;
}

@media screen and (max-width: 480px) {
  .subTitle {
    font-size: 15px;
  }
}
