#bigWrapper {
  display: flex;
  flex-direction: column;
}

#bannerWrapper {
  display: flex;
  justify-content: center;
}
#banner {
  background: #000000;
  mix-blend-mode: darken;
  border-radius: 25px;
  object-fit: cover;
  width: 90%;
}

#bigTextWrapper {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
}

.contentsWrapper {
  background-color: #f6f6f6;
  border-radius: 5px;
}
.subTitleWrapper {
  background: #ff6060;
  border-radius: 5px;
  padding-left: 1em;
}

.AboutUsSubTitle {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 142.6%;

  color: #ffffff;
}

.text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142.6%;
  margin-left: 1em;
  margin-right: 1em;
  padding-bottom: 1em;

  color: #ff6060;
}

@media screen and (max-width: 480px) {
  #banner {
    width: 336px;
    height: 223px;
  }
}
