.elementsWrapper {
  display: flex;
  flex-direction: column;
}

h1 {
  /* 404 */
  /*position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;*/

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 288px;
  /*line-height: 142.6%;*/
  /* or 411px */
  /*display: flex;*/
  /*align-items: center;*/
  text-align: center;

  color: #ff6060;
}

h2 {
  /* Oups! La page que vous demandez n'existe pas. */

  /*position: absolute;
  left: 20.49%;
  right: 18.96%;
  top: 59.18%;
  bottom: 35.84%;*/

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  /*line-height: 142.6%;*/
  /* or 51px */
  /*display: flex;*/
  /*align-items: center;*/
  text-align: center;

  color: #ff6060;
}
