#BigWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#IMG {
  object-fit: fill;
  width: auto;
  height: 223px;
  border-radius: 25px;
}

#ContentWrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 80em;
}

.CardHome {
  display: flex;
  flex-direction: column-reverse;
  background: #ff6060;
  border-radius: 10px;
  height: 340px;
  width: 340px;
  margin-top: 1em;
}

.imgHome {
  object-fit: cover;
}

.CardTitle {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  margin-left: 1em;
  color: #ffffff;
}

@media screen and (max-width=480px) {
  #ContentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
