#bigWrapper {
  display: flex;
  flex-direction: column;
}

#bannerWrapper {
  display: flex;
  justify-content: center;
}
#banner {
  background: #000000;
  mix-blend-mode: darken;
  border-radius: 25px;
  object-fit: cover;
  width: 90%;
}

#bigTextWrapper {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
}

.contentsWrapper {
  background-color: #f6f6f6;
  border-radius: 5px;
}

@media screen and (max-width: 800px) {
  #bannerWrapper {
    width: 100%;
    height: 215px;
  }
  #banner {
    width: 100%;
    height: 100%;
  }

  #bigTextWrapper {
    width: 100%;
    padding-left: 0;
  }
}
